/[0-9]*.sql
/project/.coverage
/project/db.sqlite3
/project/htmlcov/
/project/prof/
/project/static_root/*
/project/GIT_SYMBOLIC_REF
/project/VERSION
/README.*.html
__pycache__/
/cook
/docs/*.html
/django-2025*
