!/project/static_root/.gitkeep
/.claude/
/.dmypy.json
/[0-9]*.sql
/bot-2025*
/cook
/django-20*+0000
/docs/*.html
/how-tz-detect-works.html
/project/.coverage
/project/db.sqlite3
/project/GIT_SYMBOLIC_REF
/project/htmlcov/
/project/prof/
/project/static_root/*
/project/VERSION
/README.*.html
__pycache__/
/todo_progress.png
