* {
    outline: 1px solid red;
}

/* from https://www.perplexity.ai/search/in-bootstrap-how-can-i-use-the-Tp82tQ57R3emdSxPG.c79g */
.inactive-button {
  pointer-events: none;
  cursor: default;
}

.inactive-button:hover,
.inactive-button:focus,
.inactive-button:active {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
  color: #fff !important;
  box-shadow: none !important;
}

/* from https://www.perplexity.ai/search/using-css-or-bootstrap-how-can-A5U0WSQKTdS172ms6crEdQ */
@keyframes throb {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 215, 0, 0.7);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(255, 215, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 215, 0, 0);
  }
}

.throb-div {
  animation: throb 1s infinite;
}

:root {
  --navbar-height: 100px;
}

.navbar {
  height: var(--navbar-height);
}

caption {
    font-size: 2em;
}

body {
  padding-top: var(--navbar-height);
}

.humanize-me {
    font-family: monospace;
}

.spades, .hearts, .diamonds, .clubs {
    display: flex;
    font-size: 7cqh;
    flex-direction: row;
    align-items: center;
}
.hearts, .diamonds {
    color: red;
}
.spades, .clubs {
    color: black;
}

.hand {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
}
