{% load fastdev %}
{% load player_extras %}
<table class="table caption-top"
       id="auction"
       style="border: 1px dotted;
              overflow: auto;
              height: 10em">
    <caption>Auction</caption>
    <thead>
        <tr>
            {% for direction, player in players_starting_with_west %}
                <th {{ player.style|safe }}>
                    <i>{{ direction }}</i>
                    <br>
                    {{ player.player|styled_link:user }}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for row in hand.auction_display_with_explanations %}
            <tr>
                {% for cell in row %}
                    <td>
                        {% if cell is not None %}
                            {% if cell.explanation %}
                                <span title="{{ cell.explanation }}">{{ cell.html|safe }}</span>
                            {% else %}
                                {{ cell.html|safe }}
                            {% endif %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
