{% load fastdev %}
{% if show_auction_history %}
    <div id="auction" style="border: 1px dotted; overflow: auto; height: 10em">
        <table class="table caption-top">
            <caption style="font-size: 2em">Auction</caption>
            <thead>
                <tr>
                    {% for direction, player in history %}
                        <th {{ player.style|safe }}>
                            <i>{{ direction }}</i>
                            <br>
                            {{ player.player.name }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for row in hand.auction.fancy_HTML_display %}
                    <tr>
                        {% for call in row %}
                            <td>
                                {% if call is not None %}{{ call|safe }}{% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
