{% load partials %}
{% load player_extras %}
{% partialdef auction-partial %}
<div id="auction" style="border: 1px dotted; overflow: auto; height: 10em">
    {{ table.current_auction.status }}
    <table class="table">
        <th>
            <tr>
                <td>
                    <i>West</i>
                </td>
                <td>
                    <i>North</i>
                </td>
                <td>
                    <i>East</i>
                </td>
                <td>
                    <i>South</i>
                </td>
            </tr>
        </th>
        <tbody>
            {% for row in table.current_auction.fancy_HTML_display %}
                <tr>
                    {% for call in row %}
                        <td>
                            {% if call is not None %}{{ call|safe }}{% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endpartialdef auction-partial %}
{% partialdef auction-scripts %}
<script>
var es = new ReconnectingEventSource('{{ auction_event_source_endpoint }}');

es.addEventListener('message', function (e) {
    var d = JSON.parse(e.data) ;
    // Reload the partial only if the data indicates something about the auction.
    if ("call" in d) {
      console.log("Auction event listener saw " + e.data);

      htmx.ajax('GET', '{{ auction_partial_endpoint }}', {target:'#auction', swap:'outerHTML scroll:bottom'});
    }

}, false);

</script>
{% endpartialdef auction-scripts %}
