{% load partials %}
{% load player_extras %}
{% partialdef auction-partial %}
<div id="auction">
  {{ table.current_auction.status }}

  <table
      class="table fs-4">
    <th>
      <tr>
        <td>
          <i>West</i>
        </td>
        <td>
          <i>North</i>
        </td>
        <td>
          <i>East</i>
        </td>
        <td>
          <i>South</i>
        </td>
      </tr>
    </th>
    <tbody>
      {% for row in table.current_auction.fancy_two_dimensional_display %}
      <tr>
        {% for call in row %}
        <td>
          {% if call is not None %}{{ call.serialize }}{% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endpartialdef auction-partial %}
{% partialdef auction-scripts %}
<script>
var es = new ReconnectingEventSource('{{ auction_event_source_endpoint }}');

es.addEventListener('message', function (e) {
    console.log("Auction event listener saw " + e.data);

    var d = JSON.parse(e.data) ;
    // for now, totally ignore the content of the message, and just reload the partial
    htmx.ajax('GET', '{{ auction_partial_endpoint }}', {target:'#auction', swap:'outerHTML'});

}, false);

htmx.on("htmx:responseError", function(evt) {
   alert(evt.detail.xhr.response);
});

</script>
{% endpartialdef auction-scripts %}
