{% extends "base.html" %}
{% load player_extras %}
{% load partials %}
{% block title %}
    {{ player }}
{% endblock title %}
{% block content %}
    <div>
        {# "user.player" is whoever is logged in. "player" is the player whose details we're examining. #}
        <div class="row">
            {% block partnership-status-html %}
            {% endblock partnership-status-html %}
        </div>
        <div class="row">
            <div class="col">
                {% if player.current_table %}
                    {{ player.current_table.as_link }}
                {% else %}
                    {% if user.player == player %}
                        You
                    {% else %}
                        They
                    {% endif %}
                    are in <a href="{% url 'app:lobby' %}">the lobby</a>.
                {% endif %}
            </div>
            <div class="col">
                <a href="{% url 'app:hand-list' %}?played_by={{ player.pk }}">Hands {{ player }} has played</a>
            </div>
        </div>
    </div>
    {% include "chat-partial.html#chat-html-partial" %}
{% endblock content %}
{% block scripts %}
    {% include "chat-scripts.js" %}
{% endblock scripts %}
