{% extends "base.html" %}
{% load player_extras %}
{% load partials %}
{% block title %}
    {{ player }}
{% endblock title %}
{% block content %}
    <ul id="player-deets">
        {# "user.player" is whoever is logged in. "player" is the player whose details we're examining. #}
        <li>
            {% block partnership-status-html %}
            {% endblock partnership-status-html %}
        </li>
        <li>
            {% if player.current_table %}
                {{ player.current_table.as_link }}
            {% else %}
                {% if user.player == player %}
                    You
                {% else %}
                    They
                {% endif %}
                are in <a href="{% url 'app:lobby' %}">the lobby</a>.
            {% endif %}
        </li>
        <li>
            <a href="{% url 'app:hand-list' %}{% querystring played_by=player.pk %}">Hands {{ player }} has played</a>
        </li>
    </ul>
    <hr style="height: 10px; background-color: black; border: none;">
    {% include "chat-partial.html#chat-html-partial" %}
{% endblock content %}
{% block scripts %}
    {% include "chat-scripts.js" %}
{% endblock scripts %}
