{% load fastdev %}
{% load static %}
{% load partials %}
{% load base_extras %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
                Bridge
            {% endblock title %}
        </title>
        <link href="{% static "app/bootstrap-5.3.3-dist/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "app/bridge.css" %}" rel="stylesheet">
        <link rel="icon" type="image/png" href="{% static "app/spadesuit.png" %}" />
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          {% if user.is_authenticated %}data-viewer="{{ user.player }}"{% endif %}>
        <nav class="navbar navbar-expand-sm bg-body-tertiary fixed-top">
            <div class="container-fluid">
                <div id="hello-user" class="navbar-brand">
                    {% if user.is_authenticated %}
                        Hello,
                        {% if user.player %}
                            {{ user.player.as_link }}.
                        {% else %}
                            {{ user }}.
                        {% endif %}
                        {% include "bot-checkbox-partial.html#bot-checkbox-partial" with error_message="" %}
                    </div>
                    <button class="navbar-toggler"
                            type="button"
                            data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar"
                            aria-controls="offcanvasNavbar"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-end"
                         tabindex="-1"
                         id="offcanvasNavbar"
                         aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Bridge Menu</h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url "app:home" %}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url "app:lobby" %}">Lobby</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url "app:hand-list" %}">Hands</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url "app:tournament-list" %}">Tournaments</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url "app:board-list" %}">Boards</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url "app:table-list" %}">Tables</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url "app:players" %}">Players</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ VERSION|gitlab_link }}">version <tt>{{ VERSION }}</tt></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            {% ifexists debug %}
            <h2>It's debugging time!!</h2>
        {% endifexists %}
        <div class="row">
            <div class="col"></div>
            {% block upper-right-column %}
            {% endblock upper-right-column %}
        </div>
        <div class="row">
            <div class="col">
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <input type="submit" value="logout" />
                    <input type="hidden" name="next" value="/" />
                </form>
            {% else %}
                <a href="{% url 'app:signup' %}">Sign Up</a>
                |<a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </div>
    {% if messages %}
        <div>
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div id="content" class="container">
        {% block content %}
        {% endblock content %}
    </div>
    <!-- see https://docs.sentry.io/platforms/javascript/ -->
    <script src="https://js.sentry-cdn.com/de80d9ce8c1912a65a6ba2f9e7f6e98c.min.js"
            crossorigin="anonymous"></script>
    <script>
      window.sentryOnLoad = function () {
        Sentry.init({
          dsn: "https://de80d9ce8c1912a65a6ba2f9e7f6e98c@o4507936352501760.ingest.us.sentry.io/4507936354205696",

          // Alternatively, use `process.env.npm_package_version` for a dynamic release version
          // if your build tool supports it.
          release: "bridge-server@{{ VERSION }}",
          integrations: [
            Sentry.browserTracingIntegration(),
            Sentry.replayIntegration(),
          ],

          // Set tracesSampleRate to 1.0 to capture 100%
          // of transactions for tracing.
          // We recommend adjusting this value in production
          // Learn more at
          // https://docs.sentry.io/platforms/javascript/configuration/options/#traces-sample-rate
          tracesSampleRate: 1.0,

          // Set `tracePropagationTargets` to control for which URLs trace propagation should be enabled
          tracePropagationTargets: [
            "localhost",
            /^https:\/\/tail571dc2\.ts\.net/,
          ],

          // Capture Replay for 10% of all sessions,
          // plus for 100% of sessions with an error
          // Learn more at
          // https://docs.sentry.io/platforms/javascript/session-replay/configuration/#general-integration-configuration
          replaysSessionSampleRate: 0.1,
          replaysOnErrorSampleRate: 1.0,
        });
      };
    </script>
    <script src="{% static 'app/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'django_eventstream/eventsource.min.js' %}"></script>
    <script src="{% static 'django_eventstream/reconnecting-eventsource.js' %}"></script>
    <script src="{% static 'app/htmx.min.js' %}"></script>
    <script src="{% static 'app/sse.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>
