{% load partials %}
{% partialdef bidding-box-partial %}
<div style="font-family: monospace;" id="bidding-box">{{ bidding_box_buttons }}</div>
{% endpartialdef bidding-box-partial %}
{% partialdef bidding-box-scripts %}
<script>
var es = new ReconnectingEventSource('{{ auction_event_source_endpoint }}');

es.addEventListener('message', function (e) {
    var d = JSON.parse(e.data) ;
    // Reload the partial only if the data indicates something about the auction.
    if ("call" in d) {
        console.log("Bidding box event listener saw " + e.data);

        htmx.ajax('GET', '{{ bidding_box_partial_endpoint }}', {target:'#bidding-box', swap:'outerHTML'});
    }
}, false);

</script>
{% endpartialdef bidding-box-scripts %}
