{% load fastdev %}
{% load player_extras %}
<div id="fiddle-my-background-daddy-o">
    <div style="font-family: monospace;
        display: grid;
        grid-template-rows:
        [multiplier-start] 1fr
        [one] 1fr
        [two] 1fr
        [three] 1fr
        [four] 1fr
        [five] 1fr
        [six] 1fr
        [seven] 1fr;
        id="bidding-box">
        {% if display_bidding_box %}{{ bidding_box_buttons }}{% endif %}
    </div>
</div>
<style>
 #fiddle-my-background-daddy-o {
     {% if disabled %}
     background-color: white;
     {% else %}
     background-color: lightgreen;
     {% endif %}
     padding: 20px;
 }
</style>
