{% load fastdev %}
{% load player_extras %}
<div id="toast-and-bidding-box">
    <div class="toast-container">
        <div id="errorToast"
             class="toast"
             role="alert"
             aria-live="assertive"
             aria-atomic="true">
            <div class="toast-header">
                <svg class="bd-placeholder-img rounded me-2"
                     width="20"
                     height="20"
                     xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true"
                     preserveAspectRatio="xMidYMid slice"
                     focusable="false">
                    <rect width="100%" height="100%" fill="#007aff"></rect>
                </svg>
                <strong class="me-auto">Uh oh</strong>
                <small>You're in trouble now</small>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
            <div class="toast-body" id="errorText">OK, so, like, that didn't work.</div>
        </div>
    </div>
    <div style="font-family: monospace;
        display: grid;
        grid-template-rows:
        [multiplier-start] 1fr
        [one] 1fr
        [two] 1fr
        [three] 1fr
        [four] 1fr
        [five] 1fr
        [six] 1fr
        [seven] 1fr;
        id="bidding-box">
        {% if display_bidding_box %}{{ bidding_box_buttons }}{% endif %}
    </div>
</div>
