{% extends "base.html" %}
{% block title %}
    Review of {{ board }}
{% endblock title %}
{% block content %}
    <div>
        <table class="table caption-top">
            <caption>Review of {{ board }}</caption>
            <thead>
                <tr>
                    <th>Hand</th>
                    <th>Table</th>
                    <th>Summary</th>
                    <th>
                        {% if viewer_played_this_board %}
                            Your Side's Score
                        {% else %}
                            North/South Score
                        {% endif %}
                    </th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for h in annotated_hands %}
                    <tr {% if h.dis_my_hand %}class="table-warning"{% endif %}>
                        <th>
                            <a href="{% url 'app:hand-dispatch' h.pk %}">{{ h.pk }}</a>
                        </th>
                        <td>
                            <a href="{% url 'app:hand-dispatch' h.pk %}">{{ h.table_display_number }}</a>
                        </td>
                        <td>
                            <a href="{% url 'app:hand-dispatch' h.pk %}">{{ h.summary_for_this_viewer }}</a>
                        </td>
                        <td>
                            <a href="{% url 'app:hand-dispatch' h.pk %}">{{ h.score_for_this_viewer }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="font-size: xx-small;">database ID is {{ board.pk }}</div>
{% endblock content %}
