{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block title %}
    Boards
{% endblock title %}
{% block content %}
    {% block board_list %}
        {% if filter %}
            <div style="display: grid; grid-template-columns: 25% 75%;">
                <form action="" method="get" class="form form-inline">
                    <div class="form-group has-success">
                        <input type="number"
                               name="tournament__display_number"
                               step="any"
                               class="form-control"
                               placeholder="Tournament"
                               title=""
                               id="id_tournament__display_number">
                    </div>
                </form>
            </div>
        {% endif %}
        {% render_table table %}
    {% endblock board_list %}
{% endblock content %}
