{% if player and not player.synthetic %}
    <div class="form-check form-switch" id="bot-plays-for-me-div">
        <input class="form-check-input"
               type="checkbox"
               role="switch"
               id="bot-plays-for-me-switch"
               hx-post="{% url 'app:bot-checkbox-toggle' player.pk %}"
               hx-swap="outerHTML"
               hx-target="#bot-plays-for-me-div"
               {% if player.effective_allow_bot_to_play_for_me %}checked{% endif %}
               {% if player.is_dummy %}disabled{% endif %}
               {% if player.is_dummy %}title="Declarer controls dummy's hand"{% endif %} />
        <label class="form-check-label"
               for="bot-plays-for-me-switch"
               {% if player.is_dummy %}title="Declarer controls dummy's hand"{% endif %}>
            Let the computer play for me
            {% if player.is_dummy %}(dummy){% endif %}
        </label>
    </div>
{% endif %}
