{% load partials %}
{% partialdef bot-checkbox-partial %}
{# TODO -- reload the whole page, or somehow update the "Hello" message, which includes whether we're a bot or not #}
{% if user.player %}
    <div class="form-check form-switch" id="bot-plays-for-me-div">
        <input class="form-check-input"
               type="checkbox"
               role="switch"
               hx-post="{% url 'app:bot-checkbox-toggle' user.player.pk %}"
               hx-swap="outerHTML"
               hx-target="#bot-plays-for-me-div"
               {% if user.player.allow_bot_to_play_for_me %}checked{% endif %} />
        <label class="form-check-label" for="bot-plays-for-me-switch">
            {% if error_message %}
                {{ error_message }}
            {% else %}
                Let the bot play for me
            {% endif %}
        </label>
    </div>
{% endif %}
{% endpartialdef bot-checkbox-partial %}
