{% load partials %}

{% partialdef chat-scripts-partial %}
<script>
  var es = new ReconnectingEventSource('{{ chat_event_source_endpoint }}');

  es.addEventListener('message', function (e) {
  var parsed = JSON.parse(e.data)
  var newRow = document.createElement("tr");

  var newDatum;

  newDatum = document.createElement("td");
  newDatum.append(parsed.when);
  newRow.append(newDatum);

  newDatum = document.createElement("td");
  newDatum.append(parsed.who);
  newRow.append(newDatum);

  newDatum = document.createElement("td");
  newDatum.append(parsed.what);
  newRow.append(newDatum);

  document.querySelector( "#chat-log" ).append(newRow);
  }, false);
  
</script>
{% endpartialdef chat-scripts-partial %}
