{% load partials %}

{% partialdef chat-html-partial %}
<div id="chat-html-partial">
  <div>
    <input
        autofocus
        type="text"
        name="message"
        hx-post="{{ chat_post_endpoint }}"
        hx-swap="none"
        hx-trigger="keyup[key=='Enter']"
        />
    <label>
      {% if chat_target == me %}Mumble to yourself{% else %}Speak to {{ chat_target }}{% endif %}
    </label>
  </div>
  <div>
    Chat Log 'twixt {{ me }} and {{ chat_target }}
    <table id="chat-log"
           hx-ext="sse"
           hx-swap="beforeend"
           sse-connect="{{ chat_event_source_endpoint }}"
           sse-swap="message">
      <tr>
        <th scope="col">When</th>
        <th scope="col">Who</th>
        <th scope="col">What</th>
      </tr>
      {% for message in chat_messages %}
      <tr style="border: 1px dotted">
        <td style="font-weight: lighter;
                   font-family: monospace;
                   border: 1px solid">{{ message.timestamp.isoformat }}</td>
        <td>{{ message.from_player }}</td>
        <td style="border: 1px solid">{{ message.message }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endpartialdef chat-html-partial %}
