{% load fastdev %}
<div id="four-hands"
     style="border: 1px solid;
            height: 50%;
            font-family: monospace;
            display: grid;
            grid-template-columns: auto auto auto">
    {# North at the top as per the Bridge Writing Style Guide #}
    {# https://www.w3schools.com/css/css3_flexbox_container.asp #}
    <div></div>
    <div>{{ card_display.North.player.display_name }}: {{ card_display.North.cards }}</div>
    <div></div>
    <div>{{ card_display.West.player.display_name }}: {{ card_display.West.cards }}</div>
    <div>
        {% ifexists three_by_three_trick_display %}
        <div style="display: grid; grid-template-columns: auto auto auto;">
            {% for row in three_by_three_trick_display.rows %}
                {% for column in row %}
                    <div {% if column != " " %}style="border: 1px dotted; text-align: center;"{% endif %}>{{ column|safe }}</div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endifexists %}
</div>
<div>{{ card_display.East.player.display_name }}: {{ card_display.East.cards }}</div>
<div></div>
<div>{{ card_display.South.player.display_name }}: {{ card_display.South.cards }}</div>
<div></div>
</div>
