{% load partials %}
{% load player_extras %}
{% partialdef four-hands-3x3-partial %}
{# North at the top as per the Bridge Writing Style Guide #}
<div id="four-hands"
     style="border: 1px solid;
            height: 50%;
            font-family: monospace"
     data-table="">
    <div class="row" style="display: grid; grid-template-columns: 1fr 1fr 1fr">
        <div class="col"></div>
        <div class="col">
            {{ pokey_buttons.NORTH }}{{ card_display.North.player.name_dir }}: {{ card_display.North.cards }}
        </div>
        <div class="col"></div>
    </div>
    <div class="row" style="display: grid; grid-template-columns: 1fr 1fr 1fr">
        <div class="col">{{ pokey_buttons.WEST }}{{ card_display.West.player.name_dir }}: {{ card_display.West.cards }}</div>
        <div class="col">{% include 'three-by-three-trick-display-partial.html#three-by-three-trick-display' %}</div>
        <div class="col">{{ pokey_buttons.EAST }}{{ card_display.East.player.name_dir }}: {{ card_display.East.cards }}</div>
    </div>
    <div class="row" style="display: grid; grid-template-columns: 1fr 1fr 1fr">
        <div class="col"></div>
        <div class="col">
            {{ pokey_buttons.SOUTH }}{{ card_display.South.player.name_dir }}: {{ card_display.South.cards }}
        </div>
        <div class="col"></div>
    </div>
</div>
{% endpartialdef four-hands-3x3-partial %}
{% partialdef four-hands-3x3-scripts %}
<script>
var four_hands_event_source = new ReconnectingEventSource('{{ play_event_source_endpoint }}');

four_hands_event_source.addEventListener('message', function (e) {
    var d = JSON.parse(e.data) ;
    if ("card" in d) {
      console.log("Play event listener saw " + e.data);

      // TODO: Reload the partial only if the data indicates that the viewer, or dummy's, hands have changed.
      htmx.ajax('GET', '{{ four_hands_partial_endpoint }}', {target:'#four-hands', swap:'outerHTML'}).then(() => {
        htmx.ajax('GET', '{{ handaction_summary_endpoint }}', {target:'#handaction-summary', swap:'innerHTML'})
      });
    }

}, false);

var opening_lead_event_source = new ReconnectingEventSource('/events/table/{{ table.pk }}');

opening_lead_event_source.addEventListener('message', function (e) {
    var d = JSON.parse(e.data) ;
    if ("contract" in d) {
      console.log("Opening lead event listener saw " + e.data);

      var openingLeader = d["contract"]["opening_leader"];

      if (openingLeader == {{ user.player.seat.direction }}) {
        // Ideally we'd just reload the one hand that changed, not all four; but oh well
        htmx.ajax('GET', '{{ four_hands_partial_endpoint }}', {target:'#four-hands', swap:'outerHTML'}).then(() => {
          opening_lead_event_source.close();
        });
      }
    }

}, false);

</script>
{% endpartialdef four-hands-3x3-scripts %}
