{% extends "base.html" %}
{% load fastdev %}
{% load static %}
{% block title %}
    {{ hand }}
{% endblock title %}
{% block content %}
    {# from https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_overflow/CSS_carousels#carousel_with_single_pages #}
    <h3 style="text-align:center">{{ terse_description }}</h3>
    <div style="display: flex; justify-content: space-between;">
        <h1>{{ hand.auction.status }}</h1>
        <h1>{{ hand.trick_counts_by_direction }}</h1>
    </div>
    {% if hand.auction.found_contract %}
        {% include "carousel_style_play.html" %}
    {% else %}
        {% include "carousel_style_auction.html" %}
    {% endif %}
{% endblock content %}
{% block upper-right-column %}
    {% if DEPLOYMENT_ENVIRONMENT != "production" %}
        <div class="col">
            <div class="form-check form-switch">
                <input class="form-check-input"
                       type="checkbox"
                       role="switch"
                       id="god-mode-switch"
                       hx-post="{% url 'app:open-access-toggle' hand.pk %}"
                       hx-swap="none"
                       {% if hand.open_access %}checked{% endif %} />
                <label class="form-check-label" for="god-mode-switch">✨GOD MODE🦄</label>
            </div>
        </div>
    {% endif %}
{% endblock upper-right-column %}
{% block scripts %}
    <script>
         {# TODO -- some events could be handled in either listener; how do I choose a listener? #}

         {% if user.is_authenticated %}
         var playerEventSource = new ReconnectingEventSource('/events/player/system:player:{{ user.player.pk }}/');
         console.log("Listening for player events on /events/player/system:player:{{ user.player.pk }}");
         playerEventSource.addEventListener('message', function (e) {
             const data = JSON.parse(e.data);
             console.log("Player event listener saw " + e.data);
         }, false);
         {% endif %}

         var handEventSource = new ReconnectingEventSource('/events/hand/{{ hand.pk }}/');
         console.log("Listening for hand events on /events/hand/{{ hand.pk }}");

         handEventSource.addEventListener('message', function (e) {
             console.log("Hand event listener saw " + e.data);

             const data = JSON.parse(e.data);
             if ("new-play" in data) {
                 const new_play = data["new-play"];
                 if ("trick_html" in new_play) {
                     const trick_html = new_play["trick_html"];
                     const container = document.getElementById("_3x3-container");
                     container.innerHTML = trick_html;
                 }
                 {% if next_seat_to_play %}
                 if ("{{ next_seat_to_play|title }}" in data) {
                     console.log("Maybe I should update {{ next_seat_to_play }}");
                 }
                 {% endif %}
             } else if ("new-call" in data) {
                 console.log("Maybe I should update the auction and bidding-box slides");

             } else if ("contract_text" in data) {
                 /* The auction just settled, so we need to stop showing the auction slides, and instead show the play slides. */
                 window.location.reload();
             }
         }, false);

         htmx.on("htmx:responseError", function(evt) {
             const errorToast = document.getElementById('errorToast');
             const toastBootstrap = bootstrap.Toast.getOrCreateInstance(errorToast);

             const errorText = document.getElementById('errorText');
             errorText.innerHTML = evt.detail.xhr.responseText;

             toastBootstrap.show();
         });

    </script>
{% endblock scripts %}
