{% extends "base.html" %}
{% load fastdev %}
{% load static %}
{% block title %}
    {{ hand }}
{% endblock title %}
{% block content %}
    {# from https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_overflow/CSS_carousels#carousel_with_single_pages #}
    <h3 style="text-align:center">{{ terse_description }}</h3>
    <div style="display: flex; justify-content: space-between;">
        <h1>{{ hand.auction.status }}</h1>
        <h1>{{ hand.trick_counts_by_direction }}</h1>
    </div>
    {% if hand.auction.found_contract %}
        {% include "carousel_style_play.html" %}
    {% else %}
        {% include "carousel_style_auction.html" %}
    {% endif %}
{% endblock content %}
{% block upper-right-column %}
    {% if DEPLOYMENT_ENVIRONMENT != "production" %}
        <div class="col">
            <div class="form-check form-switch">
                <input class="form-check-input"
                       type="checkbox"
                       role="switch"
                       id="god-mode-switch"
                       hx-post="{% url 'app:open-access-toggle' hand.pk %}"
                       hx-swap="none"
                       {% if hand.open_access %}checked{% endif %} />
                <label class="form-check-label" for="god-mode-switch">✨GOD MODE🦄</label>
            </div>
        </div>
    {% endif %}
{% endblock upper-right-column %}
{% block scripts %}
    <script>
 {# TODO -- some events could be handled in either listener; how do I choose a listener? #}

 {% if user.is_authenticated %}
 const playerEventUrl = '/events/player/html/hand/{{ user.player.pk }}/';
 var playerEventSource = new ReconnectingEventSource(playerEventUrl);
 console.log(`Listening for player events on ${playerEventUrl}`);
 playerEventSource.addEventListener('message', function (e) {
     const data = JSON.parse(e.data);
     console.log("Player event listener saw " + e.data);

     if ("new-call" in data) {
         /* TODO -- check to see if we're currently displaying something *other* than the auction slides, and if so, just reload the whole page. */

         /* We handle the bidding box here, whereas the auction history is handled in the "table" listener below.  Only
            because the auction history is identical regardless of who is looking at it, whereas the bidding box varies
            a little -- it's active when it's our" turn.

            Also -- I haven't thought this through -- perhaps if you're not authenticated, you can watch the auction
            history, but in that case there'd be no point in seeing a bidding box.  */
         const new_call = data["new-call"];
         if ("bidding_box_html" in new_call) {
             const bidding_box_html = new_call["bidding_box_html"];
             const container = document.getElementById("toast-and-bidding-box");
             container.innerHTML = bidding_box_html;
         } else {
             console.log("Hey! Y U no bidding_box_html??");
         }
     }
 });
 {% endif %}

 const handEventUrl = '/events/table/html/{{ hand.pk }}/';
 var handEventSource = new ReconnectingEventSource(handEventUrl);
 console.log(`Listening for hand events on ${handEventUrl}`);

 handEventSource.addEventListener('message', function (e) {
     console.log("Hand event listener saw " + e.data);

     const data = JSON.parse(e.data);
     if ("new-play" in data) {
         /* TODO -- check to see if we're currently displaying something *other* than the play slides, and if so, just reload the whole page. */

         const new_play = data["new-play"];
         if ("trick_html" in new_play) {
             const trick_html = new_play["trick_html"];
             const container = document.getElementById("_3x3-container");
             container.innerHTML = trick_html;
         }
         {% if next_seat_to_play %}
         if ("{{ next_seat_to_play|title }}" in data) {
             console.log("Maybe I should update {{ next_seat_to_play }}");
         }
         {% endif %}
     } else if ("new-call" in data) {
         console.log("Maybe I should update the auction slide");

     } else if ("contract_text" in data) {
         /* The auction just settled, so we need to stop showing the auction slides, and instead show the play slides. */
         window.location.reload();
     }
 }, false);

 htmx.on("htmx:responseError", function(evt) {
         const errorToast = document.getElementById('errorToast');
     const toastBootstrap = bootstrap.Toast.getOrCreateInstance(errorToast);

     const errorText = document.getElementById('errorText');
     errorText.innerHTML = evt.detail.xhr.responseText;

     toastBootstrap.show();
 });

    </script>
{% endblock scripts %}
