{% load fastdev %}
<div class="hand">
    Imagine I made some use of {{ cards }} here.
    <br>
    <div class="spades">
        <div>&nbsp;</div>
    </div>
    <div class="hearts">
        <div>♥A</div>
        <div>♥K</div>
        <div>♥9</div>
        <div>♥8</div>
        <div>♥7</div>
        <div>♥3</div>
        <div>♥3</div>
        <div>♥3</div>
        <div>♥3</div>
        <div>♥3</div>
        <div>♥3</div>
        <div>♥3</div>
        <div>♥3</div>
    </div>
    <div class="diamonds">
        <div>♦Q</div>
        <div>♦T</div>
        <div>♦7</div>
        <div>♦6</div>
        <div>♦3</div>
    </div>
    <div class="clubs">
        <div>♣J</div>
        <div>♣8</div>
    </div>
</div>
