{% extends "base.html" %}
{% block content %}
    {% block hand_list %}
        <h2>Hands {{ page_obj.start_index }} through {{ page_obj.end_index }} of {{ total_count }}</h2>
        <table class="table">
            <th>
                <tr>
                    <td>Status</td>
                    <td>Board</td>
                    <td>Table</td>
                    <td>players</td>
                    <td>Auction</td>
                    <td>Trick Counts</td>
                </tr>
            </th>
            {% for hand in page_obj %}
                <tr>
                    <td>
                        <a href="{% url 'app:hand-archive' hand.pk %}">
                            {% if hand.is_complete %}
                                ✔
                            {% else %}
                                …
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'app:hand-archive' hand.pk %}">{{ hand.board.pk }}</a>
                    </td>
                    <td>
                        <a href="{% url 'app:hand-archive' hand.pk %}">{{ hand.table.pk }}</a>
                    </td>
                    <td>
                        <a href="{% url 'app:hand-archive' hand.pk %}">{{ hand.player_names }}</a>
                    </td>
                    <td>
                        <a href="{% url 'app:hand-archive' hand.pk %}">{{ hand.auction.status }}</a>
                    </td>
                    <td>
                        <a href="{% url 'app:hand-archive' hand.pk %}">{{ hand.status }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% include "pagination-controls.html" %}
    {% endblock hand_list %}
{% endblock content %}
