{% extends "base.html" %}
{% load fastdev %}
{% load static %}
{% block title %}
    IT'S THE BIG HAND EXPERIMENT
{% endblock title %}
{% block content %}
    {# from https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_overflow/CSS_carousels#carousel_with_single_pages #}
    <h1 style="text-align:center">{{ terse_description }}</h1>
    <ul class="carousel">
        <li class="carousel">
            {% ifexists card_display.current_player %}
            <h2>Your Hand</h2>
            {% include "hand-div.html" with cards=card_display.current_player.cards id="" %}
        {% else %}
            No <tt>card_display.current_player</tt> for you
        {% endifexists %}
    </li>
    <li class="carousel">
        <h2>Dummy</h2>
    </li>
    <li class="carousel">
        <h2>Current Trick</h2>
    </li>
</ul>
{% endblock content %}
