{% extends "base.html" %}
{% load fastdev %}
{% block title %}
    Review of {{ hand }}
{% endblock title %}
{% block content %}
    <div>
        <h1>Review of {{ hand }}</h1>
        <h3>{{ tournament_status }}</h3>
        <form method="post" action="{% url 'app:new-board-plz' hand.table.pk %}">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">NEXT BOARD PLZ</button>
        </form>
        <h2>
            <a href="{% url 'app:board-archive' hand.board.pk %}">{{ hand.board }}</a>
        </h2>
        <h2>{{ hand.auction.status }}</h2>
        <h2>{{ score }}</h2>
    </div>
    <div>{% include "four-hands.html" %}</div>
    <div style="display: flex;">
        <div style="flex-grow: 1">{% include "auction.html" %}</div>
    </div>
    <div>
        {# TODO -- omit this if _display_and_control wouldn't let us see the cards #}
        <table class="table">
            <th>
                <tr>
                    <td>Trick</td>
                    <td>Lead</td>
                    <td>2nd</td>
                    <td>3rd</td>
                    <td>4th</td>
                </tr>
            </th>
            <tbody>
                {% for t in annotated_tricks %}
                    <tr>
                        <td>{{ t.number }} {{ t.seat }}</td>
                        {% for p in t.plays %}
                            <td>
                                <div {% if p.wins_the_trick %}class="throb-div"{% endif %}>
                                    <span {% ifexists p.card.color %}style="color: {{ p.card.color }}"{% endifexists %}>{{ p.card }}</span>
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
