{% extends "base.html" %}
{% block content %}
    <div>
        <h1>Review of {{ hand }}</h1>
        <button class="btn btn-primary"
                hx-post="{% url 'app:new-board-plz' hand.pk %}"
                hx-swap="none"
                type="submit">NEW BOARD PLZ</button>
        <h2>{{ hand.board }}</h2>
        <h2>{{ hand.auction_status }}</h2>
        <h2>{{ score }}</h2>
        <p>{{ vars_score }}</p>
    </div>
    <div>{% include "four-hands.html" %}</div>
    <div style="display: flex;">
        <div style="flex-grow: 1">{% include "auction.html" %}</div>
    </div>
    <div>
        {% for t in hand.xscript.tricks %}
            <div class="row">
                {% for p in t.plays %}
                    <div class="col">
                        {{ p.player.name }} (sitting {{ p.player.most_recent_seat }}) played <span style="color: {{ p.card.color }}">{{ p.card }}</span>
                        {% if p.wins_the_trick %}✨{% endif %}
                    </div>
                {% endfor %}
            </div>
            {% if not forloop.last %}<hr />{% endif %}
        {% endfor %}
    </div>
{% endblock content %}
