{% load fastdev %}
<div class="hand">
    Imagine I made some use of {{ cards }} here.
    <br>
    <div class="spades">
        {% for c in cards.Spades %}<div>{{ c }}</div>{% endfor %}
    </div>
    <div class="hearts">
        {% for c in cards.Hearts %}<div>{{ c }}</div>{% endfor %}
    </div>
    <div class="diamonds">
        {% for c in cards.Diamonds %}<div>{{ c }}</div>{% endfor %}
    </div>
    <div class="clubs">
        {% for c in cards.Clubs %}<div>{{ c }}</div>{% endfor %}
    </div>
</div>
