{% extends "base.html" %}
{% block title %}
    Hands {{ page_obj.start_index }} through {{ page_obj.end_index }} of {{ total_count }}
{% endblock title %}
{% block content %}
    {% block hand_list %}
        <h2>
            Hands
            {% if played_by %}played by {{ played_by }},{% endif %}
            {{ page_obj.start_index }} through {{ page_obj.end_index }} of {{ total_count }}
        </h2>
        <table class="table">
            <th>
                <tr>
                    <td>ID #</td>
                    <td>Status</td>
                    <td>Tournament</td>
                    <td>Board</td>
                    <td>Table</td>
                    <td>players</td>
                    <td>Summary</td>
                </tr>
            </th>
            {% for hand in page_obj %}
                <tr>
                    <td>{{ hand.pk }}</td>
                    <td>
                        <a href="{% url 'app:hand-archive' hand.pk %}">
                            {% if hand.is_complete %}
                                ✔
                            {% else %}
                                …
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'app:hand-archive' hand.pk %}">{{ hand.board.tournament.pk }}</a>
                    </td>
                    <td>
                        <a href="{% url 'app:hand-archive' hand.pk %}">{{ hand.board.short_string }}</a>
                    </td>
                    <td>
                        <a href="{% url 'app:hand-archive' hand.pk %}">{{ hand.table.pk }}</a>
                    </td>
                    <td>
                        <a href="{% url 'app:hand-archive' hand.pk %}">{{ hand.player_names }}</a>
                    </td>
                    <td>
                        <a href="{% url 'app:hand-archive' hand.pk %}">{{ hand.summary_for_this_viewer }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% include "pagination-controls.html" %}
    {% endblock hand_list %}
{% endblock content %}
