{% extends "base.html" %}
{% block title %}
    {{ hand }}
{% endblock title %}
{% block content %}
    <div>
        <div {% if hand.is_abandoned %}style="text-decoration-line: line-through;"{% endif %}>
            <div class="row">
                <div class="col">
                    <h1>{{ hand.board }}</h1>
                </div>
                <div class="col">
                    <h1>Table {{ hand.table.pk }}, {{ hand }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1>
                        <div id="auction-summary">Auction: {{ hand.auction.status }}</div>
                    </h1>
                </div>
                <div class="col">
                    <h1>{{ hand.trick_counts_by_direction }}</h1>
                </div>
            </div>
        </div>
        {% if hand.is_abandoned %}
            <div>
                <h1 style="text-align: center; color: red">This hand was abandoned: {{ hand.is_abandoned }}</h1>
            </div>
        {% endif %}
    </div>
    <div>{% include "auction.html" %}</div>
    {% if not show_auction_history %}
        <div class="col">{% include "four-hands.html" %}</div>
    {% endif %}
    <div>
        <div style="font-family: monospace;
                    display: grid;
                    grid-template-columns: auto auto"
             id="bidding-box">
            <div>
                {% if display_bidding_box %}{{ bidding_box_buttons }}{% endif %}
            </div>
            <div>
                {% if show_auction_history %}{{ card_display.current_player.cards }}{% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
{% block upper-right-column %}
    {% if DEPLOYMENT_ENVIRONMENT != "production" %}
        <div class="col">
            <div class="form-check form-switch">
                <input class="form-check-input"
                       type="checkbox"
                       role="switch"
                       id="god-mode-switch"
                       hx-post="{% url 'app:open-access-toggle' hand.pk %}"
                       hx-swap="none"
                       {% if hand.open_access %}checked{% endif %} />
                <label class="form-check-label" for="god-mode-switch">✨GOD MODE🦄</label>
            </div>
        </div>
        <div class="col">
            {% if hand.open_access %}
                <label for="tempo-input" class="form-label">Tempo in Seconds</label>
                <input type="number"
                       id="tempo-input"
                       name="tempo-seconds"
                       hx-post="{% url 'app:set-table-tempo' hand.table.pk %}"
                       min="0"
                       max="10"
                       placeholder="tempo in seconds"
                       value="{{ hand.table.tempo_seconds }}">
            {% else %}
                <span>The bot waits {{ hand.table.tempo_seconds }} seconds before calling or playing.</span>
            {% endif %}
        </div>
    {% endif %}
{% endblock upper-right-column %}
{% block scripts %}
    <script>
var handEventSource = new ReconnectingEventSource('/events/hand/{{ hand.pk }}/');
console.log("Listening for hand events on {{ hand.pk }}");

handEventSource.addEventListener('message', function (e) {
    console.log("Hand event listener saw " + e.data);

    window.location.reload();
}, false);

// scroll the auction div so that the most-recent calls are visible.
addEventListener("DOMContentLoaded", (event) =>
    {
        var auctionDiv = document.querySelector("#auction");
        if (auctionDiv != null) {
            auctionDiv.scroll(0, 10000);
        }
    });

    </script>
{% endblock scripts %}
