{% extends "base.html" %}
{% load fastdev %}
{% load static %}
{% block title %}
    IT'S THE BIG HAND EXPERIMENT
{% endblock title %}
{% block content %}
    {# from https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_overflow/CSS_carousels#carousel_with_single_pages #}
    <h3 style="text-align:center">{{ terse_description }}</h3>
    <div style="display: flex; justify-content: space-between;">
        <h1>{{ hand.auction.status }}</h1>
        <h1>{{ hand.trick_counts_by_direction }}</h1>
    </div>
    <ul class="carousel">
        <li class="carousel">
            {% ifexists card_display.current_player %}
            <h2>Your Hand ({{ viewers_seat }})</h2>
            {% include "hand-div.html" with cards=card_display.current_player.cards id=viewers_seat.name %}
        {% else %}
            No <tt>card_display.current_player</tt> for you
        {% endifexists %}
    </li>
    <li class="carousel">
        <h2>Dummy ({{ dummy_player }})</h2>
        {% ifexists card_display.dummy_hand %}
        {% include "hand-div.html" with cards=card_display.dummy_hand.cards id=dummy_player.seat.name %}
    {% else %}
        No <tt>card_display.dummy</tt> for you
    {% endifexists %}
</li>
<li class="carousel">
    <h2>Current Trick</h2>
    {% ifexists three_by_three_trick_display %}
    <div style="display: grid; grid-template-columns: auto auto auto;">
        {% for row in three_by_three_trick_display.rows %}
            {% for column in row %}
                <div {% if column != " " %}style="border: 1px dotted; text-align: center;"{% endif %}>{{ column|safe }}</div>
            {% endfor %}
        {% endfor %}
    </div>
{% endifexists %}
</li>
</ul>
<style>
div#{{ next_seat_to_play|title }}.hand {
  background-color: lightgreen;
}
</style>
{% endblock content %}
{% block upper-right-column %}
    {% if DEPLOYMENT_ENVIRONMENT != "production" %}
        <div class="col">
            <div class="form-check form-switch">
                <input class="form-check-input"
                       type="checkbox"
                       role="switch"
                       id="god-mode-switch"
                       hx-post="{% url 'app:open-access-toggle' hand.pk %}"
                       hx-swap="none"
                       {% if hand.open_access %}checked{% endif %} />
                <label class="form-check-label" for="god-mode-switch">✨GOD MODE🦄</label>
            </div>
        </div>
    {% endif %}
{% endblock upper-right-column %}
{% block scripts %}
    <script>
         var handEventSource = new ReconnectingEventSource('/events/hand/{{ hand.pk }}/');
         console.log("Listening for hand events on {{ hand.pk }}");

         handEventSource.addEventListener('message', function (e) {
             console.log("Hand event listener saw " + e.data);

             window.location.reload();
         }, false);

         // scroll the auction div so that the most-recent calls are visible.
         addEventListener("DOMContentLoaded", (event) =>
             {
                 var auctionDiv = document.querySelector("#auction");
                 if (auctionDiv != null) {
                     auctionDiv.scroll(0, 10000);
                 }
         });

         htmx.on("htmx:responseError", function(evt) {
             const errorToast = document.getElementById('errorToast');
             const toastBootstrap = bootstrap.Toast.getOrCreateInstance(errorToast);

             const errorText = document.getElementById('errorText');
             errorText.innerHTML = evt.detail.xhr.responseText;

             toastBootstrap.show();
         });

    </script>
{% endblock scripts %}
