{% extends "base.html" %}

{% block content %}
<p>
  Lobby
</p>

<ul>
{% for player in lobby %}
<li>{{ player.as_link }}</li>
{% endfor %}
</ul>

<div>
<input type="text" id="outgoing-message"  />
<button type="button" onclick='postLobbyMessage(document.querySelector( "#outgoing-message" ).value)'>Speak in the lobby</button>
</div>

<div id="lobby-log">
{% for message in lobbymessages %}
{{ message.timestamp.isoformat }}: {{ message.player }} said {{ message.message }}<br>
{% endfor %}
</div>

{% endblock content %}
{% block scripts %}
<script>
var es = new ReconnectingEventSource('/events/lobby/');

es.addEventListener('message', function (e) {
    var theMessage = JSON.parse(e.data).text;
    document.querySelector( "#lobby-log" ).append(theMessage, document.createElement("br"));
}, false);

// from https://docs.djangoproject.com/en/5.0/howto/csrf/#acquiring-the-token-if-csrf-use-sessions-and-csrf-cookie-httponly-are-false
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');


window.postLobbyMessage = function(message){
    fetch("/send_lobby_message/", {
  method: "POST",
  headers: {'Content-Type': 'application/json', 'X-CSRFToken': csrftoken },
  body: JSON.stringify({message: message})
});
  }
  </script>
{% endblock %}
