{% load partials %}
{% partialdef matchpoint-table-partial %}
<table class="table caption-top">
    <caption>{{ title }}</caption>
    <thead>
        <tr>
            <th>Partnership</th>
            <th>Matchpoints</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for pairname, tuple in pairs.items %}
            <tr {% if pairname == viewers_pair %}class="table-warning"{% endif %}>
                <th>{{ pairname }}</th>
                <td>{{ tuple.0 }} ({{ tuple.1 | floatformat:0 }}%)</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endpartialdef matchpoint-table-partial %}
