{% load partials %}
{% load player_extras %}
{% partialdef partnership-status-partial %}

<div id="partnership-status"
     style="border: 1px solid"
     data-player="{{ user.player.pk }}"
     {% if user.player.partner %}data-player-partner="{{ user.player.partner.pk }}"{% endif %}
     data-subject="{{ subject.pk }}"
     {% if subject.partner %}data-subject-partner="{{ subject.partner.pk }}"{% endif %}
     >
    <ul>
    <li>User is {{ user.player }}</li>
    <li>as_viewed_by is {{ as_viewed_by }}</li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col">{{ subject | styled_link:as_viewed_by }}</div>
            <div class="col">
                {% if text %}{{ text }}{% endif %}
            </div>
            <div class="col">
                {% if button %}{{ button }}{% endif %}
            </div>
        </div>
    </div>
</div>
{% endpartialdef partnership-status-partial %}
