{% load partials %}
{% load player_extras %}
{% partialdef partnership-status-partial %}
<div id="partnership-status"
     hx-ext="sse"
     sse-connect="{{ partnership_event_source_endpoint }}"
     sse-swap="message">
    <div class="container">
        <div class="row">
            <div class="col">{{ subject | styled_link:as_viewed_by }}</div>
            <div class="col">
                {% if text %}{{ text }}{% endif %}
            </div>
            <div class="col">
                {% if button %}{{ button }}{% endif %}
            </div>
        </div>
    </div>
</div>
{% endpartialdef partnership-status-partial %}
