{% extends "base.html" %}
{% load player_extras %}
{% block content %}
    <h1>The great {{ me }} | {{ partner }} partnership</h1>
    <div>
        <form method="post" action="{% url 'app:player' partner.id %}">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Splitsville">
        </form>
    </div>
    {{ chat_html }}
    <br />
    {% if partner.table %}
        {{ partner.table.as_link }}
    {% else %}
        {% if me == partner %}
            You
        {% else %}
            They
        {% endif %}
        are in <a href="{% url 'app:lobby' %}">the lobby</a>.
    {% endif %}
{% endblock content %}
{% block scripts %}
    {{ chat_scripts }}
    </script>
{% endblock scripts %}
