<?xml version="1.0" encoding="utf-8"?>
{% extends "base.html" %}
{% load fastdev %}
{% load player_extras %}
{% load render_table from django_tables2 %}
{% block title %}
    Players {{ table.page.start_index }} through {{ table.page.end_index }} of {{ object_list | length }}
{% endblock title %}
{% block content %}
    {% block player_list %}
        <h3>{{ title }} {{ table.page.start_index }} through {{ table.page.end_index }} of {{ table.paginator.count }}</h3>
        <div style="display: flex">
            <form method="get" action="">
                <input type="submit" value="clear">
            </form>
            <form method="get" action="" style="display: flex">
                {{ form }}
                <input type="submit" value="filter">
            </form>
        </div>
        {% render_table table %}
        {% ifexists create_synth_partner_button %}
        <form action="{% url 'app:player-create-synthetic-partner' %}"
              method="post">
            {% csrf_token %}
            {{ create_synth_partner_button }}
            <input type="hidden" name="next" value="{{ create_synth_partner_next }}" />
        </form>
    {% endifexists %}
{% endblock player_list %}
{% endblock content %}
