{% extends "base.html" %}
{% load player_extras %}
{% block content %}
    {% block player_list %}
        <table id="player-list">
            <thead>
                <tr>
                    <th scope="col">Who</th>
                    <th scope="col">Partner</th>
                    <th scope="col">Where</th>
                </tr>
            </thead>
            <tbody>
                {% for player in player_list %}
                    <tr style="border: 1px dotted">
                        <td>{{ player|sedate_link:user }}</td>
                        <td>
                            {% if player.partner %}
                                {{ player.partner|sedate_link:user }}
                            {% else %}
                                😢
                            {% endif %}
                        </td>
                        <td>
                            {% if player.table %}
                                {{ player.table.as_link }}
                            {% else %}
                                <a href="{% url 'app:lobby' %}">lobby</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock player_list %}
{% endblock content %}
{% block scripts %}
<script>
$(document).ready( function () {
    $('#player-list').DataTable(
      {pageLength: 50}
    );
} );
</script>
{% endblock %}
