{% extends "base.html" %}
{% load player_extras %}
{% load partials %}
{% block content %}
    <div>
        {# "user.player" is whoever is logged in. "player" is the player whose details we're examining. #}
        {{ player | styled_link:user.player }}

        {% if player == user.player %}
        {% if player.partner %}<br>My partner is {{ player.partner|sedate_link:user.player }}{% endif %}
        {% endif %}

        {% if player.looking_for_partner %}
            is looking for a partner.
            {% if user.player.looking_for_partner %}
                {% if user.player != player %}Oh! I am too!{% endif %}
                <a href="{% url 'app:players' %}?lookin_for_love=True">Find swinging singles in your area.</a>
                {% if user.player != player %}
                <form method="post" action="{% url 'app:player' player.id %}">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Partner Me Up, Daddy-O">
                </form>
                {% endif %}
            {% endif %}
        {% else %}
        {% if player.partner == user.player %}
    <h1>The great {{ user.player }} | {{ player }} partnership</h1>
    <div>
        <form method="post" action="{% url 'app:player' player.id %}">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Splitsville">
        </form>
    </div>
        {% endif %}
        {% endif %}


        <br />
        {% if player.table %}
            {{ player.table.as_link }}
        {% else %}
            {% if user.player == player %}
                You
            {% else %}
                They
            {% endif %}
            are in <a href="{% url 'app:lobby' %}">the lobby</a>.
        {% endif %}
    </div>
    <div>
        {% include "chat-html-partial.html#chat-html-partial" %}
    </div>
{% endblock content %}
{% block scripts %}
    {% include "chat-scripts-partial.html#chat-scripts-partial" %}
{% endblock scripts %}
