{% extends "base.html" %}
{% load fastdev %}
{% block title %}
    Review of {{ hand }}
{% endblock title %}
{% block content %}
    <div {% if hand.is_abandoned %}style="text-decoration-line: line-through;"{% endif %}>
        <h2>Review of {{ terse_description }}</h2>
        <h2>{{ hand.auction.status }}</h2>
        <h1>{{ score }}</h1>
    </div>
    {% if hand.is_abandoned %}
        <div>
            <h1 style="text-align: center; color: red">This hand was abandoned: {{ hand.abandoned_because }}</h1>
        </div>
    {% endif %}
    {% ifexists request.user.player %}
    {% if request.user.player.current_hand %}Current hand: {{ request.user.player.current_hand.as_link }}{% endif %}
{% endifexists %}
<div style="display: flex; overflow: auto;">{% include "four-hands.html" with class="hand mediumfont" %}</div>
<div style="display: flex;">
    <div style="flex-grow: 1">{% include "auction.html" %}</div>
</div>
<div>
    {# TODO -- omit this if _display_and_control wouldn't let us see the cards #}
    <table class="table caption-top">
        <caption>Play</caption>
        <thead>
            <tr>
                <th>Trick</th>
                <th>Lead</th>
                <th>2nd</th>
                <th>3rd</th>
                <th>4th</th>
                <th>N/S</th>
                <th>E/W</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for t in annotated_tricks %}
                <tr>
                    <th>{{ t.number }} {{ t.seat }}</th>
                    {% for p in t.plays %}
                        <td>
                            <div {% if p.wins_the_trick %}style="background-color: lightgreen;"{% endif %}>
                                <span {% ifexists p.card.color %}style="color: {{ p.card.color }}"{% endifexists %}>{{ p.card }}</span>
                            </div>
                        </td>
                    {% endfor %}
                    <td>
                        {% if t.ns %}✔{% endif %}
                    </td>
                    <td>
                        {% if t.ew %}✔{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
{% block scripts %}
    <script>
 const tableEventUrl = '/events/table/html/{{ hand.pk }}/';
 var handEventSource = new ReconnectingEventSource(tableEventUrl);
 console.log(`Listening for hand events on ${tableEventUrl}`);

 handEventSource.addEventListener('message', function (e) {
     const data = JSON.parse(e.data);
     console.log("Hand event listener saw " + Object.keys(data));
     window.location.reload();

 }, false);


    </script>
{% endblock scripts %}
