{% extends "base.html" %}
{% block title %}
    Tables {{ page_obj.start_index }} through {{ page_obj.end_index }}
{% endblock title %}
{% block content %}
    {% block table_list %}
        <table class="table caption-top">
            {# yep, it's a table of tables #}
            <caption>Tables {{ page_obj.start_index }} through {{ page_obj.end_index }} of {{ total_count }}</caption>
            <thead>
                <tr>
                    <th>Table #</th>
                    <th>Current Status</th>
                    <th>Number of Boards played</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for table in page_obj %}
                    <tr>
                        <th>{{ table.pk }}</th>
                        <td>
                            <a href="{% url 'app:hand-archive' table.current_hand.pk %}">
                                Hand {{ table.current_hand.pk }} -- {{ table.current_hand.board }}: {{ table.summary_for_this_viewer }}
                            </a>
                        </td>
                        <td>{{ table.played_hands_string }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "pagination-controls.html" %}
    {% endblock table_list %}
{% endblock content %}
