{% extends "base.html" %}
{% block content %}
    <div>
        {{ table.current_handrecord.board }}.
        <div class="container">

            {% for index, player, c in table.current_handrecord.annotated_calls %}
            <div class="row">
              <div class="col-2">Call #{{ index }}</div>
              <div class="col-2">{{ player }}</div>
              <div class="col-2">{{ c }}</div>
            </div>
            {% endfor %}

        </div>
        <div>
            <ul>
            {% for p in table.current_handrecord.plays %}<li>{{ p }}</li>{% endfor %}
            </ul>
        </div>
    </div>
    <div>
        And here's the complete table.
        <ul>
            {% for seat, cards in card_display %}<li>{{ seat.named_direction }}:{{ seat.player.as_link }} {{ cards }}</li>{% endfor %}
        </ul>
    </div>
    <div>
      <div>
        Now, over here we have your bidding box:
        {{ bidding_box }}
      </div>
      <div>
        And here's your card-picker thingy:
        {{ card_picker }}
      </div>
    </div>
{% endblock content %}
