{% extends "base.html" %}
{% block title %}
    {{ page_title }}
{% endblock title %}
{% block content %}
    {% block table_list %}
        <table class="table caption-top">
            {# yep, it's a table of tables #}
            <caption>{{ page_title }}; {{ total_count }} total</caption>
            <thead>
                <tr>
                    <th>Table #</th>
                    <th>Tournament #</th>
                    <th>Current Status</th>
                    <th>Number of Boards played</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for table in page_obj %}
                    <tr>
                        <th>{{ table.pk }}</th>
                        <td>{{ table.tournament.display_number }}</td>
                        <td>
                            {% if table.has_hand %}
                                <a href="{% url 'app:hand-archive' table.current_hand.pk %}">
                                    {{ table.current_hand }}: {{ table.summary_for_this_viewer }}
                                </a>
                            {% else %}
                                {{ table.summary_for_this_viewer }}
                            {% endif %}
                        </td>
                        <td>{{ table.played_hands_string }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "pagination-controls.html" %}
    {% endblock table_list %}
{% endblock content %}
