{% extends "base.html" %}
{% block content %}
    <div>
        <h1>Review of {{ table }}</h1>
        <form method="post" action="{% url 'app:new-board-plz' table.pk %}">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">NEW BOARD PLZ</button>
        </form>
        <h2>{{ table.current_hand.board }}</h2>
        <h2>{{ table.current_auction_status }}</h2>
        <h2>{{ score }}</h2>
        <p>{{ vars_score }}</p>
    </div>
    <div>{% include "four-hands-3x3-partial.html#four-hands-3x3-partial" %}</div>
    <div style="display: flex;">
        <div style="flex-grow: 1">{% include "auction-partial.html#auction-partial" %}</div>
    </div>
    <div>
        {% for t in table.current_hand.xscript.tricks %}
            <div class="row">
                {% for p in t.plays %}
                    <div class="col">
                        {{ p.player.name }} (sitting {{ p.player.current_seat }}) played <span style="color: {{ p.card.color }}">{{ p.card }}</span>
                        {% if p.wins_the_trick %}✨{% endif %}
                    </div>
                {% endfor %}
            </div>
            {% if not forloop.last %}<hr />{% endif %}
        {% endfor %}
    </div>
{% endblock content %}
