{% load partials %}
{% partialdef three-by-three-trick-display %}
<div class="three-by-three-yadda-yadda">
    {% for row in three_by_three_trick_display.rows %}
        <div class="row" style="display: grid; grid-template-columns: 1fr 1fr 1fr">
            {% for column in row %}
                <div class="col"
                     {% if column != " " %}style="border: 1px dotted;"{% endif %}>{{ column }}</div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endpartialdef three-by-three-trick-display %}
