{% extends "base.html" %}
{% load base_extras %}
{% block title %}
    Tournaments
{% endblock title %}
{% block content %}
    {% block tournament_list %}
        <table class="table caption-top">
            <caption>Tournaments</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Signup Deadline</th>
                    <th>Play Completion Deadline</th>
                </tr>
            </thead>
            <tbody>
                {% for tournament in tournament_list %}
                    <tr>
                        <th>{{ tournament.display_number }}</th>
                        <td>
                            <a href="{% url 'app:board-list' %}{% querystring tournament=tournament.pk %}">{{ tournament }}</a>
                        </td>
                        <td>{{ tournament.signup_deadline|humanized_timestamp }}</td>
                        <td>{{ tournament.play_completion_deadline|humanized_timestamp }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock tournament_list %}
{% endblock content %}
